.content form {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.content form .inputBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content form .inputBox input {
    width: 49%;
}

.content form .inputBox input,
.content form textarea {
    padding: 1.4rem;
    background: #f6f6f6;
    text-transform: none;
    color: #777;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: 0.1rem solid #999;
}

.content form textarea {
    width: 100%;
    resize: none;
    height: 15rem;
}

h4 a {
    color: #44bb6a;
}

h4 a:hover {
    text-decoration: underline;
}

.align-center,.centre-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}